{% extends 'header.html' %}

{% block content %}

<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/schedule_style.css') }}">
</head>

 <section>
<header ><h1>ROUTES INFO</h1></header>
<div>
<header ><h1>NEW TRAIN </h1></header>
    <form method="post">
   <input class="form-control" type="text" name="train_name" placeholder="Train name" required>
        <input class="form-control" type="text" name="train_type" placeholder="Train type" required>
    <button>Ok</button>
    </form>
</div>
</section>


{% endblock %}